<h1 class="classic-green-glow">Shopify</h1>






<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/originals/4b/02/10/4b021087809bed2b8cb8dabb0c1691ef.jpg" class="d-block w-100" loading="lazy" alt="High-Res Image">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/originals/2c/56/48/2c5648d8362ae37ccafbb604cfff3e18.jpg" class="d-block w-100" loading="lazy" alt="High-Res Image">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/736x/7d/17/88/7d1788bdb070b9813fc5ab531a634618.jpg" class="d-block w-100" loading="lazy" alt="High-Res Image">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/736x/a5/2d/7d/a52d7d88e91c3eeb206abe627e1061b3.jpg" class="d-block w-100" loading="lazy" alt="High-Res Image">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/originals/a6/3a/c7/a63ac7a2d33122c2d847855f281d94a6.jpg" class="d-block w-100" loading="lazy" alt="High-Res Image">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/1200x/46/12/4d/46124d29bfbe09f7e73e3c6d78391b3b.jpg" class="d-block w-100" loading="lazy" alt="High-Res Image">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/736x/1c/76/cf/1c76cfca7dd1d4553828f7cd68c85307.jpg" class="d-block w-100" loading="lazy" alt="High-Res Image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<br>
<br><br><br><br><br><br><br><br><br><br><br>
  
